{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "VMName" :{
            "value": "Name of the VM"
        },
        "adminPasswordOrKey" :{
            "value": "You ssh public key eg ssh-rsa A1B2C3D4E5FGHI......"
        },
        "AllowedSourceIP" :{
            "value": "Your ISP assign IP address"
        },
        "New_Or_Existing_VNet" :{
            "value": "new | existing"
        }        
    }
}